body {
    border: 2px solid;
    margin: 0;
}

#box1 {
    border: 5px solid;
    width: 250px;
    height: 250px;
    background: yellow;

    margin: 50px;
    margin: 50px 10px;

    /* margin-left: 50%; */
}

#box2 {
    border: 5px solid;
    width: 250px;
    height: 250px;
    background: dodgerblue;
}