body {
    background-color: rgb(140, 70, 0);
}

h1 {
    color: #000000;
}

p {
    background-color: gray;
    color: white;
}

#p1 {
    color: tomato;
}

#p2 {
    color: yellow;
}

#p3 {
    color: green;
}